/*html {*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    !*font-size: 1rem;*!*/
/*}*/
/*body {*/
/*    height: 100%;*/
/*    overflow-y: scroll;*/
/*}*/
.text-blue {
    color: #0a53be;
}
#logo {
    width: 16rem;
    margin-bottom: 1rem;
}

.footer{
    height: 10rem;
}

/* 모바일 화면 */
@media all and (max-aspect-ratio: 1/1){
    html {
        font-size: 4vw;
    }
    option {
        padding: 0.2rem;
    }
    .mainView {
        padding:0;
    }
    #product {
        background: #0a53be;
        color: white;
        margin-bottom: 0;
        padding: 0.6rem;
    }
}
/* pc 화면 */
@media all and (min-aspect-ratio:1/1) and (min-width: 720px){
    .mainView {
        padding:1.5rem;
        width: 540px;
        margin: auto;
    }
    #product {
        background: #0a53be;
        color: white;
        margin-bottom: 0;
        padding: 0.6rem;
        border-radius: 0.4rem 0.4rem 0 0;
    }
}

.tab-container {
    background: #0a53be;
    padding: 0.2rem 0.2rem 0 0.2rem;
}
.tab-btn {
    background: #0a53be;
    color: white;
    border: none;
}



#content {
    border: 1px solid #eee;
    padding: 1rem 1.5rem;
}

.tab-btn.selected {
    background: white;
    color: #0a53be;
    border-radius: 0.2rem 0.2rem 0 0;
}

.main-btn {
    width: 100%;
    border: 1px solid #0a53be;
    background: #0a53be;
    color: white;
}
.main-btn:active {
    background: #0d6efd;
    color: white;
}

.main-btn:hover {
    background: #0a58ca;
    color: white;
}
.main-btn h1 {
}

.main-btn[disabled]{
    background: #aaa;
    border: 1px solid #aaa;
}

.main-btn-outlined {
    border: 1px solid #0a53be;
    background: white;
    color: #0a53be;
    width: 100%;
}
.main-btn-outlined:hover{
    color: #0d6efd;
    border: 1px solid #0d6efd;
}
.margin-btn {
    margin: 3rem 0vh 3rem 0vh;
}
a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

[class|="col"] {
    padding: 0;
}

/* 폼 등 */
select {
    overflow: auto;
}
/* 드래그 방지 - 왜안됨 */
.text-select {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
input.disabled{
    background: #e9ecef!important;
}

/* 팝업 */
.popup {
    position: fixed;
    top:0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
    /*width: 100vw;*/
    /*height: 100vh;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content{
    width: 30rem;
    background: white;
    border-radius: 1em;
    padding: 1rem 1.6rem;
    display: flex;
    flex-direction: column;
}
/* 팝업 */

/* 여행국가선택 */
optgroup {
    text-align: center;
}
optgroup option {
    text-align: left;
}

/* 텍스트 셀렉트 세트 */
.text-select-div {
    position: relative;
}
.text-option {
    position: absolute;
    top: 100%;
}

/* 약관 */
.agree-terms {
    /*background: #efefef;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 0.4rem;*/
    padding: 0.2rem;
}
.agree-terms button.show-btn{
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.6rem;
}
.agree-terms button.close {
    border: none;
    margin: auto;
    background: rgba(0,0,0,0);
}
.agree-terms li {
    background: #f5f5f5;
    border-radius: 0.2rem;
}
.agree-terms div.show-div{
    padding: 0.4rem 1rem 1rem 1rem;
}
pre {
    white-space: pre-wrap;
    margin-bottom: 0;
    text-align: left;
}
.agree-terms .main-btn {
    background: #0a53be;
    color: white;
    width: 10rem;
    margin: auto;
}
.agree-check-able .check-btn .text{
    color: black;
}
.agree-terms .show-btn div:first-child i {
    color: #888;
}


/* 체크 버튼 */
.check-btn {
    color: #bbb;
    background: rgba(255,255,255,0);
}
.check-btn:hover{
    color: #bbb;
}

.check-btn.checked .icon{
    color: #0a53be;
}

/* check-radio */
.check-radio {
    display: flex;
    justify-content: space-between;
}

.check-radio label {
    width: 100%;
    padding: 0rem 0.5rem;
}

.check-radio input:checked + span{
    background: #0a53be;
    color: white;
}

/*.main {*/
/*    height: 100% ;*/
/*    padding: 4rem;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*.apply-header {*/
/*    margin-bottom: 4rem;*/
/*}*/
