.main-btn {
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
    border: 1px solid #0a53be;
}
.main-btn h1 {
}
.margin-btn {
    margin: 5vh 0vh 5vh 0vh;
}
.modal-dialog {
    max-width: 100%!important;
    height: 80vh;
    margin:auto;
    margin-bottom: 0px;
    top:20vh
}
.modal-content {
    height: 100%;
}
.bottom-0 {
    bottom:0;
}

.body {
    height: 100vh;
}
#next[href]{
    background: #0a53be;
    color: white;
}

.radio.chosen{
    background: #0a53be;
    color: white;
}

span {
    font-size: 2rem;
}

.check-btn {
    color: #bbb;
}
.check-btn:hover{
    border: none;
    color: #bbb;
}
.check-btn.checked{
    color: #0a53be;
}